<!--Add Page-->
<%
  var pageName = pageName;
  var pageDescription = pageDescription;

  var pageNameError = '';
  var pageDescriptionError = '';

  if(typeof(er) != 'undefined')
  {
    for(var error of er)
    { 
      switch(error.param){
        case 'pageName':         pageName = error.value;
                                  pageNameError = error.msg;
                                  break;
        case 'pageDescription':  pageDescription = error.value;
                                  pageDescriptionError = error.msg;
                                  break;
      }
    }
  }
%>
<%- include('layouts/header'); -%>
<body>
  <%- include('layouts/siteheaderdashboard'); -%> 
  <main>
    <h2>Add Blog</h2>
    <form action="process" method="POST" enctype="multipart/form-data">      
      <div class="wrapper">
        <label for="pageName">Blog Title</label>
        <input type="text" id="pageName" name="pageName" 
        value="<%= pageName %>">
        <p class="error"><%= pageNameError %></p>
      </div>      
      <div class="wrapper">
        <label for="pageDescription">Blog Description</label>
        <input type="text" id="pageDescription" name="pageDescription"  value="<%= pageDescription %>">
        <p class="error"><%= pageDescriptionError %></p>
      </div>
      <div class="wrapper">
        <label for="pageHeroImage">Blog Image Upload</label>
        <input type="file" id="pageHeroImage" name="pageHeroImage">
      </div>
      <div class="submission">
        <input type="submit" value="Add Blog">
      </div>
    </form>
  </main>  
  <%- include('layouts/sitefooter'); -%>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="js/tinymce/jquery.tinymce.min.js"></script>
<script src="js/tinymce/tinymce.min.js"></script>

<script>
  tinymce.init({
      selector: '#pageDescription',
      height: 500,
      menubar: false
  });
</script>
<%- include('layouts/footer'); -%>