<!--Login page-->
<%
  var username ='';
  var password = '';

  var usernameError = '';
  var passwordError = '';
%>
<%- include('layouts/header'); -%>
<body>
  <%- include('layouts/siteheaderhome'); -%>
  <main>
    <form name="myform" method="Post" action="" >
      <label>Username:</label>
      <input id="username"  type="text" name="username" placeholder="Username" value="<%= username %>">
      <div class="error"><%= usernameError %></div>
      <label>Password:</label>
      <input id="password" type="password" name="password" placeholder="*********" value="<%= password %>">
      <div class="error"><%= passwordError %></div>
      <input type="submit" value="Login">      
      </form>  
      <p class="errors"><%= message %></p>    
  </main>
<%- include('layouts/sitefooter'); -%>
</body>
<%- include('layouts/footer'); -%>








